@font-face{
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans&display=swap);
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Lora', serif;
}

h4{
    font-family: 'Work Sans', sans-serif;
}

body{
    padding: 0px 30px;
    box-sizing: border-box;
}

/*      HEADER      */
nav{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.nav1{
    display: flex;
    justify-content: flex-start;
}

.nav-logo{
    position: absolute;
    left:calc(50% - 65px);
    width: 130px;
}

.nav3{
    display: flex;
    justify-content: flex-end;
}

.nav-text{
    padding: 0px 20px 0px 20px;
    font-size: 12px;
}


/*      IMAGEN DE INICIO        */
.img-inicio{
    height: 100vh;
    background: url(imagenes/slider-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-inicio span{
    height: 100%;
    text-align: center;
    font-size: clamp(0.11rem,1rem,5rem);
    text-decoration: none;
}

/*         DESCUENTOS       */
.descuento{
display: flex;
justify-content: center;
}

.desc1{
    background: url(imagenes/banner-1.png);
    width: 5rem;
    height: 10rem;
    margin: 10px;
}

.desc2{
    background: url(imagenes/banner-2.png);
    width: 50%;
    margin: 10px;
}