@font-face{
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Work Sans', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans&display=swap);
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #333333;
}

p{
    font-family: 'Lora', serif;
    color: #333333;
}

h4{
    font-family: 'Work Sans', sans-serif;
    color: #333333;
}

body{
    padding: 0px 3%;    
    margin: 0px;
    box-sizing: border-box;
}

/*      UP BUTTON      */
.up-button{
    position: fixed;
    display: none;
    z-index: 1;
    padding: 8px 10px;
    border: #575757 solid 1px;
}

.up-symbol{
    display: flex;
    flex-direction: column;
    font-size: 8px;
    color: white;
}

/*      HEADER      */
nav{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.nav1{
    display: flex;
    justify-content: flex-start;
}

.nav-logo{
    position: absolute;
    left:calc(50% - 65px);
    width: 130px;
}

.nav3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-text{
    padding: 0px 20px 0px 20px;
    font-size: 12px;
}

.nav-menu{
    background: none;
    border: 1px solid;
    font-size: 25px;
    padding: 2px 5px 1px 5px;

    display: none;
}

.fa-solid1{
font-size: 15px;
margin: 0px 5px;
}

.icon1{
    font-size: 10px;
}

@media (max-width:1000px){
    .nav1{
        display: flex;
        justify-content: flex-start;
        display: none;
    }
    
    .nav-logo{
        position: absolute;
        display: flex;
        left: 10px;
        width: 100px;
    }
    
    .nav3{
        display: flex;
        justify-content: flex-end;
    }
    
    .nav-text{
        position: absolute;
        right: 50px;
        top: 1px;
        padding: 0px 15px 0px 15px;
        margin: 8px 0px;
        font-size: 10px;
    }
    
    .nav-menu{
        background: none;
        border: 1px solid;
        font-size: 25px;
        padding: 2px 5px 1px 5px;
        display: block;
    }

    .up-button{
        position: fixed;
        bottom: 50px;
        right: 10px;
        background-color: #333333;
        display: block;
    }
}

/*      IMAGEN DE INICIO        */
.contenedor-inicio{
    background-image: url("imagenes/slider-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 12% 10%;
    font-size: clamp(1rem,2.3vw,6rem);
}

.text-inicio{
    font-size: clamp(1rem,2.9vw,6rem);
    text-align: center;
}

.h1-inicio{
    text-align: center;
    width: auto;
    margin-top: 4%;
    margin-bottom: 0%;

}

.h4-inicio{
    text-align: center;
    width: auto;
    font-size: 15px;
    color: #333333;
    text-decoration-line: #333333;
    margin: 0% 10% 4% 10%;
}

/*         DESCUENTOS       */
.descuento{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 5%;
}

.desc1{
    background: url("imagenes/banner-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 8% 30% 8% 1%;
}

.desc2{
    background: url("imagenes/banner-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 8% 30% 8% 1%;
}

.p-desc{
    font-size: clamp(1rem,2.5vw,3rem);
    color:#529F0F;
    padding: 0%;
    margin: 0%;
}

.h4-desc{
    font-weight: 300;
    font-size: clamp(.5rem,1vw,2rem);
    padding: 0%;
    margin: 0%;
}


/*      LATEST PRODUCTS ------- NEW PRODUCTS    */
.latest{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("imagenes/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    justify-content: center;
    padding: 3% 0px;
}

.h1-lat-title{
    font-size: clamp(1.4rem,2vw,2rem);
}

.lat-1{
    width: 50%;
    text-align: center;
}

.lat-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lat-2-1{
    list-style: none;
    padding: 0% 15px;
}

.img-product{
    position: relative;
}

.img-product-border{
    border: #ededed solid 2px;
}

.img-product-desc{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 12px;
    font-weight: 800;
    font-family: 'Lora', serif;
    background-color: #529F0F;
    padding: 15px 8px;
    border-radius: 50%;
}

/*      FRASE       */
.frase{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6% 25%;
    color: #333333;

}

.p-frase{
    font-style: italic;
    font-size: clamp(1rem,1.5vw,6rem);
    margin-bottom: 5%;
}

.h4-frase1{
    font-size: clamp(0.5rem,1vw,4rem);
    margin: 1.5%;
}

.h4-frase2{
    font-size: clamp(0.5rem,.9vw,4rem);
    margin: 0%;
    color: #575757;
}

/*    NEW PRODUCTS        */
.product-new{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    height: auto;
    justify-content: center;
    padding: 3% 1%;
}

.product-name{
    color: #575757;
}

.product-description-name{
    color: #333333;
}

s{
    color: #575757;
}

/*      JOIN US     */
.join-us{
    background: url("imagenes/bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 7% 4%;
    margin: auto;
}

.join-text{
    font-size: clamp(1.4rem,2.5vw,3rem);
    text-align: center;/* 
    margin: 3% 0px; */
}

.join-ul{
    list-style: none;
    padding: 0%;
}

.join-li{
    display: flex;
    justify-content: center;
}

.join-li-1{
    font-family: 'Lora','serif';
    font-size: 12px;
    padding: 20px 15% 20px 15px;
    border: #cecece solid 1px;
    background: none;
}

.join-button{
    background-color: #000;
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #ffff;
    border: 0px;
    padding: 15px 3%;
}

/*      LATEST NEWS     */
.h1-news{
    text-decoration: underline 2px;
    font-size: clamp(1.4rem,3vw,2rem);
    text-align: center;
}

.lat-2-2{
    list-style: none;
    padding: 0% 10px;
    width: 300px;
}

.news-fecha{
    color: #529F0F;
    font-style: italic;
    text-decoration: underline;
    font-weight: 800;
    font-size: 14px;
}

.news-name{
    color: #333333;
    font-size: clamp(1.2rem,1.5vw,1.7rem);
}

.news-sub{
    color: #575757;
}

.news-more{
    color: #333333;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 30px;
}

.news-img{
    width: 100%;
}

/*      SPONSORS        */
.sponsor{
    padding: 4% 7%;
}

.ul-sponsor{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%;
}

/*      LISTAS      */
.listas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    padding-bottom: 20px;
}

.lista1{
    list-style: none;
    padding: 0%;
    margin: 5% 35px 5% 10px;
}

.lista2{
    list-style: none;
    padding: 0%;
    margin: 5% 0% 5% 10px;
}

.title-list{
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20px;
}

.text-list{
    color: #575757;
    font-family: 'Lora', serif;
    font-size: 13px;
    margin-top: 20px;
}

.text-list-top{
    color: #575757;
    font-family: 'Lora', serif;
    font-size: 13px;
    margin: 20px 0px 30px;
}

.text-list-mid{
    color: #575757;
    font-family: 'Lora', serif;
    font-size: 13px;
    margin-top: 10px;
}

.text-list-btm{
    color: #575757;
    font-family: 'Lora', serif;
    font-size: 13px;
    margin-top: 40px;
}

/*      FOOTER      */  
.footer-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ebebeb;
    padding: 0px;
}

.footer-p{
    font-size: clamp(.66rem,1vw,1rem);
}

.footer-img{
    width: 100%;
    max-width: 250px;
    margin: 0%;
    padding: 0%;
}